.homePgeRwampMn .bnrSc {
    background: #EEF1FF;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.homePgeRwampMn .bnrSc:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url('../../newfront/img/home-new/banner_image.png?v1');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 100%;
    z-index: -1;
}

.homePgeRwampMn .bnrSc .bnrScSubTlt {
    font-weight: 700;
    font-size: 25px;
    color: #2286FF;
}

.homePgeRwampMn .bnrSc .bnrScTlt {
    font-weight: 900;
    font-size: 65px;
    color: #15191C;
    line-height: 60px;
}

.homePgeRwampMn .bnrSc .bnrScTlt span {
    font-weight: 700;
    font-size: 39px;
    color: #15191C;
    line-height: 10px;
}

.homePgeRwampMn .bnrSc .bnrScCnt {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #15191C;
    margin-top: 20px;
}

.homePgeRwampMn .home_rew_Btn1 {
    background: linear-gradient(218.5deg, #385CF4 9.99%, #37ABFD 85.82%);
    border-radius: 75px;
    padding: 5px 20px;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF !important;
}

.homePgeRwampMn .home_rew_Btn2 {
    background: linear-gradient(95.34deg, #FF4B28 -16.71%, #FFA419 128.99%);
    border-radius: 75px;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF !important;
    padding: 5px 20px;
    margin-left: 10px;
}

.homePgeRwampMn .countSc {
    background: #EFF8FF;
}

.homePgeRwampMn .countSc .countScLst {
    background: linear-gradient(268deg, #181818 0%, #4c4c4f 100%);
    border: 2px solid #15191C;
    border-radius: 10px;
    padding: 20px;
    min-height: 250px;
    margin-top: -40px;
    z-index: 1;
    position: relative;
}

.homePgeRwampMn .countSc .countScLst .countScLstTlt {
    font-weight: 900;
    font-size: 35px;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 10px;
}

.homePgeRwampMn .countSc .countScLst .countScLstTlt:after {
    content: "+";
}

.homePgeRwampMn .countSc .countScLstCnt {
    font-weight: 500;
    font-size: 18px;
    color: #7891FF;
    margin-bottom: 0px;
}

.homePgeRwampMn .cryTokeDvCmSc {
    padding: 60px 0px;
    background: #EFF8FF;
}

.homePgeRwampMn .cryTokeDvCmSc .cryTokeDvCmTlt {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #15191C;
}

.homePgeRwampMn .cryTokeDvCmSc .cryTokeDvCmCnt {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #373B3E;
    text-align: center;
    margin-top: 10px;
}

.homePgeRwampMn .cryTokeDvCmSc .cryptoImg {
    margin-top: 80px;
}

.homePgeRwampMn .nftdvSc {
    padding: 60px 0px 0px 0px;
    background: linear-gradient(0deg, rgba(228, 233, 255, 0) 27.24%, #C4CBEC 104.83%);
}

.homePgeRwampMn .nftdvSc .nftdvScTlt {
    font-weight: 700;
    font-size: 27px;
    color: #000;
}

.homePgeRwampMn .nftdvSc .nftdvScMnTlt {
    font-weight: 700;
    font-size: 35px;
    color: #15191C;
    text-align: center;
    margin-bottom: 50px;
}

.homePgeRwampMn .nftdvSc .nftdvScCnt {
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
}

.homePgeRwampMn .nftdvSc .nftdvScLst {
    background: linear-gradient(268deg, #A2ADDF 0%, #C4CBEC 100%);
    box-shadow: 0px 0px 65px rgba(177, 184, 222, 0.75);
    border-radius: 35px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.homePgeRwampMn .nftdvSc .nftdvScLst .nftdvScLstTlt {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #242A2F;
    margin-top: 10px;
}

.homePgeRwampMn .nftdvSc .nftdvScSend {
    padding: 100px 0px;
}

.homePgeRwampMn .nftdvothersc {
    background: linear-gradient(0deg, rgba(228, 233, 255, 0) 27.24%, #C4CBEC 104.83%);
    padding: 60px 0px;
}

.homePgeRwampMn .nftdvothersc .nftdvScTlt {
    font-weight: 700;
    font-size: 27px;
    color: #15191C;
}

.homePgeRwampMn .nftdvothersc .nftdvScCnt {
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
}

.homePgeRwampMn .nftdvothersc .nftdvScSend {
    padding: 100px 0px 0px 0px;
}

.homePgeRwampMn .nftdvothersc .nftdvotherscLst {
    background: linear-gradient(270deg, #E4E9FF 0%, #C4CBEC 100%);
    box-shadow: 0px 0px 65px #DADEF3;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.homePgeRwampMn .nftdvothersc .nftdvotherscLst .nftdvotherscLstTlt {
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    margin-top: 10px;
    line-height: 22px;
}

.homePgeRwampMn .serSc {
    background: linear-gradient(89.63deg, #15191C 0.52%, #363E44 104.35%);
    padding: 60px 0px;
}

.homePgeRwampMn .serSc .serScTlt {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
}

.homePgeRwampMn .serSc .serScCnt {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #ADB8BF;
}

.homePgeRwampMn .serSc .serScLst {
    background: linear-gradient(180deg, #3F4649 0%, rgba(38, 44, 49, 0) 105.29%);
    border-radius: 25px;
    padding: 20px;
    margin-top: 30px;
}

.homePgeRwampMn .serSc .serScLst .imgLst {
    display: flex;
    align-items: center;
}

.homePgeRwampMn .serSc .imgLstTlt {
    margin-left: 15px;
}

.homePgeRwampMn .serSc .imgLstTlt .mnTlt {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 0px;
    line-height: 26px;
}

.homePgeRwampMn .serSc .imgLstTlt .mnSubTlt {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.homePgeRwampMn .serSc .serScLst .serScLstCnt {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #C6CDD3;
    margin-top: 20px;
    min-height: 155px;
}

.homePgeRwampMn .serSc .serScLst .serScBtn {
    border: 1px solid #FF4B28;
    border-radius: 85px;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF !important;
    background: transparent;
    padding: 5px 20px 5px 10px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.homePgeRwampMn .serSc .serScBtn:hover {
    background: linear-gradient(95.34deg, #FF4B28 -16.71%, #FFA419 128.99%);
}

.homePgeRwampMn .serSc .serScBtn i {
    font-size: 30px;
}

.homePgeRwampMn .serSc .serScBtn p {
    margin-left: 10px;
}

.homePgeRwampMn .standSc {
    padding: 60px 0px;
    background: #E7EEF8;
}

.homePgeRwampMn .standSc .standScTlt {
    font-weight: 700;
    font-size: 35px;
    color: #15191C;
    text-align: center;
}

.homePgeRwampMn .standSc .standScCnt {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.homePgeRwampMn .standSc .standScLstWhtBg {
    background: #FFFFFF;
    box-shadow: 8px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 55px;
    padding: 20px;
    margin-top: 25px;
    height: 345px;
}

.homePgeRwampMn .standSc .standScLstWhtBg ul li {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    position: relative;
    list-style: none;
    margin-top: 15px;
}

.homePgeRwampMn .standSc .standScLstWhtBg ul li:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -25px;
    background: linear-gradient(95.34deg, #FF4B28 -16.71%, #FFA419 128.99%);
    border: 3px solid #FFDBBA;
    border-radius: 75px;
    width: 14px;
    height: 14px;
}

.homePgeRwampMn .standSc .standScLst {
    position: relative;
    z-index: 1;
    padding: 20px;
    height: 520px;
    margin-top: 30px;
}

.homePgeRwampMn .standSc .standScLst:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    background: linear-gradient(180deg, #F8C84C 0%, #FDE07B 100%);
    border-radius: 25px;
    width: 90%;
    height: 100%;
    z-index: -1;
}

.homePgeRwampMn .standSc .standScLst1:after {
    background: linear-gradient(180deg, #8CA6FB 0%, #C577ED 100%);
}

.homePgeRwampMn .standSc .standScLst2:after {
    background: linear-gradient(180deg, #FE8686 0%, #FF4747 100%);
}

.homePgeRwampMn .standSc .standScLstTlt {
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    line-height: 26px;
}

.homePgeRwampMn .prcsSc {
    padding: 60px 0px;
}

.homePgeRwampMn .prcsSc .prcsScTlt {
    font-weight: 700;
    font-size: 35px;
    color: #15191C;
    text-align: center;
}

.homePgeRwampMn .prcsSc .prcsScCnt {
    background: linear-gradient(218.5deg, #385CF4 9.99%, #37ABFD 85.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;
}

/*.prcsScLst{
	margin-top: 70px;
	text-align: center;
}
.rowAftr{
	position: relative;
	z-index: 1;
}
.rowAftr:after{
	content: "";
	position: absolute;
	top: 106px;
	left: 0px;
	background: linear-gradient(218.5deg, #385CF4 9.99%, #37ABFD 85.82%);
    border-radius: 75px;
    height: 11px;
    width: 100%;
    z-index: -1;
}
.prcsScLst .count{
    background: linear-gradient(218.5deg, #385CF4 9.99%, #37ABFD 85.82%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-weight: 800;
    font-size: 30px;
    line-height: 26px;
}
.prcsScLstCnt{
	font-weight: 600;
    font-size: 18px;
    color: #000000;
    line-height: 22px;
}*/

.homePgeRwampMn .indusSc {
    background: linear-gradient(89.63deg, #15191C 0.52%, #363E44 104.35%);
    padding: 60px 0px;
}

.homePgeRwampMn .indusSc .indusScTlt {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
}

.homePgeRwampMn .indusSc .indusScCnt {
    font-weight: 500;
    font-size: 18px;
    color: #878E94;
    text-align: center;
}

.homePgeRwampMn .indusSc .indusScLst {
    text-align: center;
    background: linear-gradient(180deg, #3F4649 0%, rgba(38, 44, 49, 0) 91.62%);
    border-radius: 15px;
    margin-top: 30px;
}

.homePgeRwampMn .indusSc .indusScLst .indusScLstTlt {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.homePgeRwampMn .whtCmAddSc {
    background: linear-gradient(0deg, rgba(228, 233, 255, 0) 27.24%, #C4CBEC 104.83%);
    padding: 60px 0px;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddScTlt {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddScCnt {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.homePgeRwampMn .whtCmAddSc .count {
    background: linear-gradient(180deg, #45464E -109.49%, rgba(249, 250, 254, 0) 186.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 800;
    font-size: 75px;
    margin-bottom: 0px;
    line-height: 85px;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddScsubTlt {
    font-weight: 600;
    font-size: 25px;
    color: #15191C;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddScsubCnt {
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #4D5255;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddLst {
    background: linear-gradient(180deg, #A2ADDF 0%, #C4CBEC 100%);
    box-shadow: 0px 0px 65px rgba(177, 184, 222, 0.75);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddLst .whtCmAddLstTlt {
    font-weight: 600;
    font-size: 18px;
    color: #242A2F;
    margin-top: 20px;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddScMnLst {
    margin-top: 0px;
}

.homePgeRwampMn .whtCmAddSc .whtCmAddLstTopWeb {
    margin-top: 150px;
}

.homePgeRwampMn .platFsc {
    padding: 60px 0px;
    background: #E5E8F9;
}

.homePgeRwampMn .platFsc .platFscTlt {
    font-weight: 700;
    font-size: 35px;
    color: #15191C;
    text-align: center;
}

.homePgeRwampMn .platFsc .platFscCnt {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.homePgeRwampMn .tchSc {
    background: #ECEDEF;
    padding: 60px 0px;
}

.homePgeRwampMn .tchSc .tchScTlt {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #2A3136;
}

.homePgeRwampMn .tchSc .tchScCnt {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #293035;
}

.homePgeRwampMn .tchSc .techLst {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
    text-align: center
}

.homePgeRwampMn .tchSc .techLst .techLstTlt {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 15px;
}

.homePgeRwampMn .tchSc .techLstImg {
    min-height: 70px;
}

.homePgeRwampMn .whySc {
    padding: 60px 0px;
}

.homePgeRwampMn .whySc .whyScTlt {
    font-weight: 700;
    font-size: 35px;
    color: #15191C;
}

.homePgeRwampMn .whySc .whyScCnt {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #31393F;
    text-align: justify;
    margin-top: 20px;
}

.homePgeRwampMn .whySc .whyScLst {
    padding: 15px;
    background: linear-gradient(180deg, #A2ADDF 0%, #C4CBEC 100%);
    box-shadow: 0px 0px 65px rgba(177, 184, 222, 0.75);
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
    min-height: 130px;
    display: flex;
    align-items: center;
}

.homePgeRwampMn .whySc .whyScLst .whyScLstTlt {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #242A2F;
}

@media(max-width:1499px) {
    .homePgeRwampMn .bnrSc .bnrScSubTlt {
        margin-top: 10%;
    }
}

@media(max-width:991px) {
    .homePgeRwampMn .bnrSc {
        height: initial !important;
        text-align: center;
        padding: 60px 0px;
    }
    .homePgeRwampMn .bnrSc:after {
        display: none
    }
    .homePgeRwampMn .bnrSc img {
        display: none
    }
    .homePgeRwampMn .countSc .countScLst {
        margin-top: 20px;
    }
    .homePgeRwampMn .nftdvSc {
        text-align: center
    }
    .homePgeRwampMn .nftdvothersc {
        text-align: center
    }
    .nftdvotherscImg {
        margin-top: 50px;
    }
    .homePgeRwampMn .whtCmAddSc .whtCmAddLstTopWeb {
        margin-top: 0px;
    }
    .homePgeRwampMn .whySc {
        text-align: center;
    }
}

@media(max-width:767px) {
    .homePgeRwampMn .bnrSc .bnrScTlt {
        font-size: 50px;
        line-height: 45px;
    }
    .homePgeRwampMn .bnrSc .bnrScTlt span {
        font-size: 30px;
    }
    .homePgeRwampMn .bnrSc .bnrScSubTlt {
        font-size: 20px;
    }
    .homePgeRwampMn .home_rew_Btn1,
    .homePgeRwampMn .home_rew_Btn2 {
        margin-top: 20px;
    }
    .homePgeRwampMn .cryTokeDvCmSc .cryTokeDvCmTlt,
    .homePgeRwampMn .nftdvSc .nftdvScTlt,
    .homePgeRwampMn .nftdvothersc .nftdvScTlt,
    .homePgeRwampMn .serSc .serScTlt,
    .homePgeRwampMn .standSc .standScTlt,
    .homePgeRwampMn .prcsSc .prcsScTlt,
    .homePgeRwampMn .indusSc .indusScTlt,
    .homePgeRwampMn .whtCmAddSc .whtCmAddScTlt,
    .homePgeRwampMn .platFsc .platFscTlt,
    .homePgeRwampMn .tchSc .tchScTlt,
    .homePgeRwampMn .whySc .whyScTlt,
    .homePgeRwampMn .nftdvSc .nftdvScMnTlt {
        font-size: 25px;
    }
    .homePgeRwampMn .nftdvSc .nftdvScSend,
    .homePgeRwampMn .nftdvothersc .nftdvScSend {
        padding: 70px 0px;
    }
    .homePgeRwampMn .serSc .imgLstTlt .mnTlt {
        font-size: 20px;
    }
    .homePgeRwampMn .prcsSc .prcsScCnt {
        font-size: 20px;
    }
    .homePgeRwampMn .whtCmAddSc .count {
        font-size: 50px;
    }
    .homePgeRwampMn .whtCmAddSc .whtCmAddScMnLst {
        text-align: center;
        margin-top: 50px;
    }
    .homePgeRwampMn .whtCmAddSc .whtCmAddScsubTlt {
        font-size: 20px;
    }
}

@media(max-width:575px) {
    .homePgeRwampMn .serSc .serScLst .serScLstCnt {
        min-height: initial
    }
    .homePgeRwampMn .whySc .whyScLst {
        min-height: initial;
        justify-content: center;
    }
}

@media(max-width:375px) {
    .homePgeRwampMn .standSc .standScLstWhtBg ul li {
        font-size: 15px;
    }
}