@media (min-width: 1280px) and (max-width: 1440px) {
    #st_sec_hero {
        padding-top: 0rem;
    }
    .str_introft_box {
        min-width: 220px;
    }
    #st_sec_devsolutions .secinner_devsoltions_ft {
        padding: 15px 0px;
        top: 11px;
    }
    #st_sec_devsolutions .si_dsft_box {
        margin: 0px 15px;
        min-width: 168px;
    }
    #st_sec_devsolutions .si_dsft_box .st_sec_head {
        font-size: 15px;
        font-weight: 600;
        margin-top: .3rem;
    }
    section#st_sec_services {
        padding-top: 25px;
        padding-bottom: 70px;
    }
    #st_sec_services .st_sec_box {
        min-height: 375px;
    }
    #st_sec_services .st_sec_desc {
        font-size: 17px;
    }
    #st_sec_devsolutions .stsec_innerwrap {
        margin-bottom: 10.5rem;
    }
    #st_sec_addons .stsec_outerwrap .sec_addon_wrap .st_sec_contwrap {
        padding: 25px 25px;
    }
    #st_sec_devsolutions .si_dsft_head {
        padding: 5px 30px 0px 30px;
    }
    #st_sec_industries .st_sec_box {
        padding: 23px;
    }
    #st_sec_addons #secinner_addon3 .addonft_box {
        min-width: 127px;
    }
    #st_sec_addons #secinner_addon4 .addonft_box {
        min-width: 157px;
    }
    #secinner_addon1 {
        background-position: top;
    }
    #secinner_addon2 {
        background-position: right;
    }
    #secinner_addon3 {
        background-position: top;
    }
    #secinner_addon4 {
        background-position: right;
    }
    .faq-section .st_sec_contwrap {
        text-align: left;
        margin-bottom: 1.8rem;
    }
}

@media (max-width: 767px) {
    #st_sec_hero {
        height: 675px;
    }
    .st_com_contwrap {
        padding-top: 0rem;
    }
    #st_sec_intro:before {
        display: none;
    }
    .st_cta_sec {
        display: block;
        text-align: center;
    }
    .connect_wa {
        margin: 0 auto;
    }
    .ban-skew-btn {
        display: block;
        margin-bottom: 10px;
    }
    .crate_token {
        margin-right: 0px;
        margin: 0 auto 15px;
    }
    .str_introft_row {
        display: block;
    }
    h1.st_hero_title {
        text-align: center;
        font-size: 25px;
    }
    .st_hero_tagline,
    .st_hero_desc {
        text-align: center;
    }
    .str_introft_box {
        padding: 15px 12px;
        min-width: auto;
    }
    .st_sec_title {
        font-size: 22px;
    }
    #st_sec_devsolutions .secinner_devsoltions_ft {
        position: unset;
        padding: 0px 25px;
        display: block;
    }
    .sec_solution_wrap {
        padding: 15px 10px 10px 10px;
    }
    /*#secinner_nftsol, #secinner_defisol, #secinner_bepsol {
    background-image: url(../img/home-images//bg-crypto.jpg?v3);
}*/
    #st_sec_devsolutions .si_dsft_box {
        margin: 0px 15px;
        min-width: auto;
        border-right: 0px solid #d7dcdd;
        padding: 10px 0px;
    }
    .si_dsft_cta,
    .si_dsft_knowmore {
        display: none;
    }
    #st_sec_industries .st_sec_box {
        padding: 20px;
        margin-bottom: 3.2rem;
    }
    #st_sec_devsolutions .si_dsft_head {
        text-align: center;
        top: -2px;
        z-index: 1;
        padding: 3px 50px 0px 30px;
    }
    #st_sec_devsolutions .st_sec_contwrap {
        margin-bottom: 2.5rem;
    }
    #st_sec_devsolutions .stsec_innerwrap {
        margin-bottom: 1rem;
    }
    #st_sec_devsolutions .stsec_outerwrap .st_sec_title {
        font-size: 21px;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 1rem;
    }
    #st_sec_devsolutions .si_dsft_head:before {
        height: 36px;
    }
    section#st_sec_services {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    section#st_sec_services .row:nth-child(2) {
        margin-bottom: 0rem;
    }
    #st_sec_services .st_sec_box {
        background-image: unset;
        transform: unset;
    }
    #st_sec_devserv .st_sec_box {
        margin-bottom: 1rem;
    }
    #st_sec_devserv:before {
        background-repeat: no-repeat;
        background-size: cover;
        height: 25%;
        display: none;
    }
    #st_sec_devserv {
        background-size: cover;
        background-position: center;
        background-image: unset;
        background-color: #0e105a;
    }
    #st_sec_devprocess .st_sec_contwrap {
        position: unset;
        text-align: center;
        top: 0;
    }
    .stdevsetv_listwrap {
        display: none;
    }
    #stdevsetv_default .stdevsetv_listwrap {
        display: block;
    }
    #st_sec_devprocess .img_box {
        position: unset;
        right: 0;
        width: 100%;
        bottom: 0;
    }
    #st_sec_devprocess {
        height: auto;
        padding-top: 40px;
    }
    .stsec_techgrid .stsec_techbox {
        overflow: hidden;
    }
    .sprite6 {
        width: 152px;
    }
    .stsec_techgrid img#techgrid_ethereum {
        object-position: -49px -40px !important;
    }
    img#techgrid_eos {
        object-position: -254px -40px !important;
    }
    img#techgrid_tron {
        object-position: -475px -40px !important;
    }
    img#techgrid_tezos {
        object-position: -690px -40px !important;
    }
    img#techgrid_hyperledger {
        object-position: -907px -40px !important;
    }
    img#techgrid_steller {
        object-position: -1142px -40px !important;
    }
    img#techgrid_matic {
        object-position: -1373px -40px !important;
    }
    img#techgrid_chainlink {
        object-position: -1585px -40px !important;
    }
    img#techgrid_fantom {
        object-position: -1808px -40px !important;
    }
    img#techgrid_ripple {
        object-position: -2023px -40px !important;
    }
    img#techgrid_bsc {
        object-position: -2235px -37px !important;
    }
    img#techgrid_hec {
        object-position: -2466px -40px !important;
    }
    img#techgrid_gochain {
        object-position: -2741px -40px !important;
    }
    img#techgrid_ipfs {
        object-position: -2954px -40px !important;
    }
    #st_sec_devprocess .st_sec_title {
        font-size: 23px;
    }
    #st_sec_devprocess:before {
        top: 0;
    }
    #st_sec_industries .st_sec_title {
        text-align: center;
    }
    #st_sec_addons .stsec_outerwrap .sec_addon_wrap .st_sec_contwrap {
        text-align: left;
        background-color: #fff;
        margin: 4px 5px;
        padding: 10px 10px;
    }
    .sec_addon_wrap {
        margin-top: 10px;
    }
    #st_sec_addons .stsec_ftptwrap {
        overflow-x: scroll;
    }
    #st_sec_addons .stsec_outerwrap .sec_addon_wrap .st_sec_title {
        font-size: 19px;
        font-weight: 600;
    }
    #st_sec_addons .stsec_addon_detailwrap p.st_sec_desc {
        text-align: justify;
    }
    .faq-section .st_sec_title {
        font-size: 23px;
    }
    #st_sec_blogs .st_sec_title {
        font-size: 30px;
    }
    #st_sec_blogs a.stblog_cta {
        position: unset;
    }
    #st_sec_blogs .st_sec_contwrap {
        margin-bottom: 1.5rem;
    }
    .stblog_box {
        margin-bottom: 1.5rem;
    }
    .faq#accordion .card .card-header .faq-title {
        font-size: 15px;
        padding-right: 0px;
    }
    .faq-section .st_sec_contwrap {
        margin-bottom: 0;
    }
    .bottom_fixed_icons {
        display: grid !important;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .bottom_fixed_icons .icons p {
        display: none;
    }
}

@media (min-width: 1440px) {
    #st_sec_devsolutions .si_dsft_head {
        top: 0;
    }
    #st_sec_devsolutions .si_dsft_cta {
        top: -4px;
        left: -33px;
    }
    #st_sec_devsolutions .si_dsft_knowmore {
        top: -4px;
        left: -60px;
    }
    #st_sec_devsolutions .si_dsft_cta:hover {
        top: -8px;
        left: -34px;
    }
    #st_sec_devsolutions .si_dsft_knowmore:hover {
        top: -8px;
        left: -62px;
    }
}