@media (max-width:767px) {
    #st_abt_hero {
        background-image: url(../img/home-images/about-banner.png);
        padding-top: 95px;
        padding-bottom: 40px;
        background-color: #2024b9;
    }
    #st_abt_intro {
        background-image: unset;
        background-size: cover;
        background-position: right;
        padding: 3rem 0;
    }
    h1.st_hero_title {
        text-align: center;
        font-size: 40px;
    }
    #st_abt_intro .st_sec_title {
        font-size: 21px;
    }
    section#st_abt_values .st_com_contwrap {
        min-height: auto;
        margin-bottom: 1rem;
    }
    section#st_abt_values .st_com_contwrap p {
        min-height: auto;
    }
}

/*NFT MARKETPLACE*/

@media (max-width:767px) {
    #nft_market_herosec h1.nft_market_herotle {
        font-size: 35px;
    }
    #nft_market_herosec:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at 46.9% -2.14%, rgb(27 104 244) 0%, rgba(42, 110, 237, 1) 4.35%, rgb(52 91 238) 14.07%, rgba(41, 49, 176, 1) 24.48%, rgb(29 27 155 / 66%) 35.65%, rgb(14 12 140 / 78%) 47.95%, rgb(41 3 131 / 0%) 62.25%, rgb(2 0 128 / 0%) 83.26%);
    }
    #nft_market_herosec .nft_market_herodesc {
        font-style: italic;
        font-size: 15px;
        color: #FFFFFF;
        color: rgb(255, 255, 255);
        font-weight: 500;
        text-transform: uppercase;
    }
    #nft_market_introsec {
        padding: 25px 0px;
        background-image: unset;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #nft_market_introsec .nft_market_cont_wrap {
        width: 100%;
    }
    .nft_marketsectle {
        font-size: 21px;
        line-height: 1.3;
    }
    #nft_market_featuresec .nft_market_cont_wrap .nft_marketsectle {
        font-size: 30px;
        text-align: center;
    }
    #nft_market_featuresec .nft_market_secdesc ul {
        display: block;
    }
    #nft_market_featuresec {
        background-size: cover;
    }
    #nft_market_benefitsec .nft_market_cont_wrap .nft_marketsectle {
        text-align: center;
        text-shadow: 0 0px 0px #251a3e3b;
        font-size: 24px;
    }
    #nft_market_hwitworksec .nft_marketsectle {
        color: #fff;
        font-size: 31px;
        padding: 0px 0px;
    }
    #nft_market_hwitworksec:before {
        z-index: -1;
    }
    #nft_market_hwitworksec {
        height: auto;
        position: relative;
        z-index: 0;
    }
    #nft_market_hwitworksec .row:nth-child(2) {
        position: unset;
        right: 0;
        width: auto;
    }
    #nft_market_hwitworksec .nft_market_boxhead {
        border-right: 0px solid #d4d4d4;
    }
    #nft_market_hwitworksec .nft_market_boxdetails {
        border-right: 0px solid #d4d4d4;
    }
    #nft_market_whitesoltnsec {
        height: auto;
        padding-top: 40px;
        position: unset;
    }
    #nft_market_whitesoltnsec .nft_market_cont_wrap {
        text-align: center;
    }
    #nft_market_clonescriptsec {
        background-size: cover;
        padding: 40px 0px;
    }
    #nft_market_clonescriptsec .nft_market_cont_wrap {
        padding: 21px;
        text-align: center;
    }
    #nft_market_clonescriptsec .nft_market_secdesc ul li {
        display: block;
        margin-bottom: 1rem;
    }
    #nft_market_nftgamingsec {
        padding: 10px 0px;
    }
    #nft_market_benefitsec .nft_market_secdesc ul li {
        width: auto;
    }
    #nft_market_nftgamingsec .nftgame_wrap {
        padding: 20px
    }
    #nft_market_nftgamingsec .nftmarket_ctasec {
        display: block;
    }
    #nft_market_nftgamingsec .know_more {
        min-width: 292px;
    }
    #nft_market_nftgamingsec .nftgame_wrap .nft_marketsectle {
        font-size: 21px;
    }
    #nft_market_nftgameclonesec .nft_market_box {
        margin-bottom: 2rem;
    }
    #nft_market_nftgameclonesec .row:nth-child(2) {
        margin-bottom: 0rem;
    }
    #nft_market_nftgameclonesec .nft_market_secextra {
        padding-top: 38px;
    }
    #nft_market_nfttokendevgsec .nfttoken-nft-content {
        position: relative;
        padding: 44px 44px 40px 35px !important;
    }
    #nft_market_nfttokenssec {
        position: unset;
        padding: 35px 0px;
    }
    #nft_market_nftchracterssec .nftmc_padtop {
        padding-top: 50px;
    }
    section#nft_market_nftchracterssec .nft_market_cont_wrap {
        padding-left: inherit;
        text-align: center;
    }
    #nft_market_nftchracterssec {
        background-image: url(../img/nft-md-dev-img/bg-11.jpg);
        background-size: cover;
    }
    #nft_market_nftchracterssec .nftm_chraceters {
        background-image: unset;
        padding: 0px
    }
    #nft_market_nftchracterssec .nftmd_colwrapper {
        padding-right: 5px;
        padding-left: 5px;
    }
    section#nft_market_nftchracterssec .nft_market_box .nft_market_boxhead {
        font-size: 14px;
        line-height: 17px;
    }
    section#nft_market_nftchracterssec .nft_market_box {
        margin-bottom: 1rem;
    }
    section#nft_market_nftchracterssec .nft_market_cont_wrap {
        margin-bottom: 2rem;
    }
    section#nft_market_nftchracterssec .nft_market_cont_wrap .nft_marketsectle {
        color: #fff;
    }
    section#nft_market_nftchracterssec .nft_market_secdesc {
        font-size: 17px;
        color: #f2f2f2;
        line-height: 1.5;
    }
    #nft_market_nftindustrysec .nft_market_box .nft_market_boxhead {
        position: unset;
        margin-top: 0rem;
        border-radius: 0
    }
    #nft_market_nftindustrysec .nft_market_box .nft_market_boxhead span {
        display: inline;
    }
    #nft_market_nftindustrysec .col-md-2.col-6 {
        padding-right: 5px;
        padding-left: 5px;
    }
    #nft_market_nftindustrysec .row:nth-child(2),
    #nft_market_nftindustrysec .row:nth-child(3) {
        margin-bottom: 0;
    }
    #nft_market_nftindustrysec .nft_market_box {
        margin-bottom: 1.2rem;
    }
    #nft_market_nfttokenssec .nftoken_carousel_wrap {
        padding: 20px 25px;
    }
    #nft_market_nfttokenssec .nftoken_carousel_wrap {
        background: linear-gradient( 180deg, rgb(242 242 242) 0.42%, rgb(231 231 231) 25.38%, rgb(205 205 205) 100%);
    }
    .row.process_box_top .nft_market_box {
        margin-bottom: 3rem;
    }
    .row.process_box_bottom .nft_market_box {
        margin-bottom: 3rem;
    }
    #nft_market_nftdevprocess .process_box_top .nft_market_box:after,
    #nft_market_nftdevprocess .process_box_bottom .nft_market_box:after {
        display: none;
    }
    #nft_market_nftdevprocess .process_box_bottom .nft_market_box:before {
        top: 67px;
    }
    #nft_market_nftdevprocess .process_box_bottom .col-xl-2:nth-child(3)>.nft_market_box:before {
        display: none;
        margin-bottom: 0;
    }
    #nft_market_nftdevprocess .process_box_bottom .col-xl-2:nth-child(3)>.nft_market_box {
        margin-bottom: 0;
    }
}

/*=======IPAD=================*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #nft_market_herosec h1.nft_market_herotle {
        font-size: 43px;
    }
    .container-ctrl {
        padding: 0 20px;
    }
    #nft_market_herosec:before {
        background: radial-gradient(circle at 50.9% -8.14%, rgb(27 104 244) 0%, rgba(42, 110, 237, 1) 4.35%, rgb(52 91 238) 14.07%, rgba(41, 49, 176, 1) 24.48%, rgb(29 27 155 / 66%) 35.65%, rgb(14 12 140 / 78%) 47.95%, rgb(41 3 131 / 0%) 62.25%, rgb(2 0 128 / 0%) 83.26%);
    }
    #nft_market_introsec .nft_market_cont_wrap {
        width: 100%;
    }
    #nft_market_introsec {
        padding: 45px 30px;
    }
    .nft_marketsectle {
        font-size: 22px;
    }
    #nft_market_servsec .nft_market_box {
        background-color: #fff;
        padding: 11px;
        margin-bottom: 2.5rem;
        min-height: 311px;
        border-radius: 5px;
        box-shadow: 0 6px 9px -4px #0e156abd;
    }
    #nft_market_benefitsec .nft_market_secdesc ul li {
        width: 100%;
    }
    #nft_market_hwitworksec .row:nth-child(2) {
        position: unset;
        width: auto;
    }
    #nft_market_hwitworksec {
        height: auto;
    }
    #nft_market_hwitworksec:before {
        z-index: -1;
    }
    #nft_market_hwitworksec:after {
        background-size: cover;
        z-index: -2;
    }
    #nft_market_whitesoltnsec {
        background-image: url(../img/nft-md-dev-img/bg-5.jpg);
        padding-top: 50px;
        padding-bottom: 50px;
        color: #fff;
        height: auto;
        position: unset;
        z-index: -1;
    }
    #nft_market_nftchracterssec .nftm_chraceters {
        background-image: unset;
        padding: 60px 17px;
        background-size: cover;
    }
    section#nft_market_nftchracterssec .nft_market_cont_wrap {
        padding-left: 10px;
    }
    #nft_market_nftchracterssec {
        background-image: url(../img/nft-md-dev-img/bg-11.jpg);
        background-size: cover;
    }
    #nft_market_featuresec .nft_market_cont_wrap .nft_marketsectle {
        text-align: center;
    }
    section#nft_market_nftchracterssec .nft_market_cont_wrap .nft_marketsectle {
        color: #fff;
    }
    .nft_marketsectle {
        font-size: 21px;
        line-height: 1.3;
    }
    section#nft_market_nftchracterssec .nft_market_secdesc {
        font-size: 17px;
        color: #f2f2f2;
        line-height: 1.5;
    }
    #nft_market_nftgamingsec {
        background-image: url(../img/nft-md-dev-img/nft-game-btg.png);
        padding: 35px 20px;
        position: relative;
        z-index: 0;
    }
    #nft_market_nftgameclonesec .nft_market_box {
        padding: 5px 0px;
    }
    #nft_market_nftgameclonesec .nft_market_box .nft_market_boxhead {
        color: #fff;
        width: 64%;
        font-size: 15px;
        margin-right: 0;
        margin-left: auto;
        margin-top: 0;
        line-height: 21px;
    }
    #nft_market_nftgameclonesec .row:nth-child(2) {
        margin-bottom: 1.2rem;
    }
    #nft_market_nftgameclonesec .nft_market_secextra {
        font-size: 40px;
        padding-top: 52px;
    }
    #nft_market_nfttokenssec {
        position: relative;
        bottom: 0;
        z-index: 1;
        left: 0;
        right: 0;
        width: 100%;
    }
    #nft_market_nfttokendevgsec .container-ctrl {
        padding: 0px 15px;
    }
    #nft_market_nfttokendevgsec .nfttoken-nft-content {
        padding: 30px 50px !important;
    }
    #nft_market_nftchracterssec .nftmc_padtop {
        padding-top: 50px;
    }
    .row.process_box_top .nft_market_box {
        margin-bottom: 8.7rem;
    }
    .row.process_box_bottom .nft_market_box {
        margin-bottom: 0;
    }
    section#nft_market_whynftmarketplace .nft_market_box {
        background: rgba(255, 255, 255, 1);
        box-shadow: 1px 8px 4px rgb(33 15 58 / 21%);
        padding: 10px;
        text-align: center;
        margin-bottom: 2rem;
        border: 1px solid #e6e6e6;
        min-height: 295px;
        text-align: left;
        border-radius: 10px;
    }
    #nft_market_featuresec .nft_market_secdesc {
        text-align: center;
    }
    #nft_market_clonescriptsec .nft_market_cont_wrap {
        padding: 25px 18px;
    }
    #nft_market_clonescriptsec .nft_market_secdesc ul li {
        margin-bottom: 1.5rem;
    }
    #nft_market_clonescriptsec {
        padding: 40px 0px;
    }
    #nft_market_nftindustrysec .row:nth-child(4) {
        justify-content: left;
    }
}

/*=======IPAD PRO=================*/

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    #nft_market_herosec h1.nft_market_herotle {
        font-size: 55px;
    }
    .container-ctrl {
        padding: 0 30px;
    }
    .nft_marketsectle {
        font-size: 27px;
    }
    #nft_market_nftgameclonesec .nft_market_box .nft_market_boxhead {
        font-size: 18px;
    }
    #nft_market_nftgameclonesec .nft_market_box {
        padding: 20px 0px;
    }
    #nft_market_nftgameclonesec .nft_market_box .nft_market_boxhead {
        width: 58%;
    }
}

@media (min-width: 767px) and (max-width: 1280px) {
    #nft_market_herosec h1.nft_market_herotle {
        font-size: 44px;
    }
    #nft_market_introsec .nft_market_cont_wrap {
        width: 80%;
        margin: auto;
    }
    #nft_market_servsec .nft_market_box {
        min-height: 336px;
    }
    #nft_market_featuresec.nftmarket_sec .nft_market_secdesc {
        display: flex;
    }
    #nft_market_featuresec .nft_market_cont_wrap .nft_marketsectle {
        font-size: 44px;
    }
    #nft_market_benefitsec .nft_market_cont_wrap .nft_marketsectle {
        font-size: 41px;
    }
    #nft_market_whitesoltnsec.nftmarket_sec .nftmd_img_wrapper {
        left: -200px;
    }
    #nft_market_nftgamingsec .nftgame_wrap .nft_marketsectle {
        font-size: 37px;
    }
    #nft_market_nfttokenssec {
        bottom: -230px;
    }
    section#nft_market_nftchracterssec .nft_market_box {
        padding: 14px;
    }
    #nft_market_nftchracterssec .nftm_chraceters {
        padding: 60px 41px;
        padding-top: 270px;
    }
    section#nft_market_whynftmarketplace .nft_market_box {
        min-height: 261px;
    }
    #nft_market_nftdevprocess .process_box_top .nft_market_box:after {
        top: 115px;
    }
    #nft_market_nftgamingsec .nftgame_wrap {
        background-position: bottom;
    }
    .stsbt_intro_img {
        padding: 44px 0px 16px 0px
    }
    #st_abt_intro {
        padding: 32px 0px;
    }
}